#text {
    border: 3px solid red;
    padding: 5px;
}

#parrafo {
    display: inline; 
}

#navbarSupportedContent{
    margin-left: 10px;
}

#head{
    background-color: rgb(110, 110, 110);
    color: white;
}

.navbar-brand{
    color: rgb(169, 169, 169);
    font-size: large;
}

.navbar-brand:hover {
    color: white;
}

.btn a {
    color: black;
}

article{
    background-color: rgb(238, 238, 238);
}